body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  background-color: #1E1E1E 
}
.svg-container {
  background-color: #423D3D;
  border: 1px solid gray;
}

svg > g > line{
  stroke-dasharray: 0 150;
  animation: dash 2s ease-out forwards;
}


@keyframes dash {
  from {
    stroke-dasharray: 0 300;
  }
  to {
    stroke-dasharray: 300 300;
  }
}


.loader {
  border: 7px solid #f3f3f3; 
  border-top: 7px solid #70F9FC; 
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin .5s linear infinite;
  position: absolute;
  top: 40%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}